# Core
Django==5.2.8
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

# Database
psycopg2-binary==2.9.11  # PostgreSQL adapter

# Environment & Configuration
django-environ==0.12.0

# API Documentation
drf-yasg==1.21.11
django-filter==25.2

# Development
asgiref==3.10.0
inflection==0.5.1
packaging==25.0
PyJWT==2.10.1
pytz==2025.2
PyYAML==6.0.3
sqlparse==0.5.3
uritemplate==4.2.0
